/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FAF5FF; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #9F7AEA; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6B46C1; 
}